<div id="supportContainer" class="support-container">
  <div class="sup-ukr-header">
    <p class="sup-ukr-text">Support Ukraine</p>
    <svg class="sup-ukr-gerb" width="20" height="32">
      <use href="./images/sprite.svg#icon-ukr-gerb-svg"></use>
    </svg>
  </div>
  <ul class="sup-content-wrp"></ul>
  <div class="btn-wrapper">
    <button
      id="scrollButton"
      type="button"
      class="sup-ukr-scroll-btn"
      aria-label="Scroll up"
    >
      <svg id="svgDown" class="sub-btn-svg" width="11.92" height="7.98">
        <use
          class="sup-svg-use"
          href="/src/images/sprite.svg#icon-arr-dwn-svg"
        ></use>
      </svg>
      <svg
        id="svgUp"
        class="sub-btn-svg is-hidden-sup-ukr"
        width="11.92"
        height="7.98"
      >
        <use class="sup-svg-use" href="/src/images/sprite.svg#arrow-up"></use>
      </svg>
    </button>
  </div>
</div>
