<div class="backdrop is-hidden">
  <div class="modal-box">
    <button
      class="modal-close-btn"
      type="button"
      aria-label="Modal window close button"
    >
      <svg class="x-close" width="12" height="12">
        <use href="./images/sprite.svg#x-close"></use>
      </svg>
    </button>
    <div class="modal-book"></div>
    <button class="btn modal-btn" type="button"></button>
    <p class="modal-info">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
